*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #707070;
}


/*----Header---*/
.container {
	max-width: 1920px;
	padding: 0 70px;
}
.menu{
	font-size: 0.875em;
}
.navbar{
	border-bottom: 2px solid #D7D7D7;
}
.form-inline{
	justify-content: flex-end;
	width: 100%;
	max-width: 331px;
}
.btn-header{
	width: 100%;
	max-width: 200px;
	background-color: #707070;
	border: 1px solid #707070;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 0.875em;
	margin-left: 30px;
}
.btn-header:active{
	background-color: #000;
	border-color: #000;
}
.btn-header:hover{
	background: #1D1D1D;
}
.form-control:focus{
	border-color: #484848 !important;
	box-shadow: none;
}
.menu > .nav-item > .nav-link{
	padding: 0 20px;
}
.navbar-brand{
	padding: 16px 0;
}
.icon-profile{
	display: none;
}
.fas{
	padding-left: 10px;
}
.fa-user-circle{
	transform: scale(1.7);
}
.bi-search{
	color: #707070;
	padding: 5px;
	border: 1px solid #707070;
	border-radius: 50%;
	cursor: pointer;
}
.search-box.nav-link  a{
	padding: 0;
}
.search-icon{
	padding-right: 0 !important;
}
.form-control{

	transition: .3s;
	padding: 0 10px;
	margin: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
	top: 57px;
	left: -175px;
	padding-left: 10px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .language-list{
	left: 0px;
}

.dropdown-menu-cnt{
	left: 0 !important;
}

.language-list {
	min-width: 1rem;
	left: 0 !important;
}

.search-list-mobile{
	display: none;
}

/*main*/
main{
	margin-top: 90px;
}
.breadcrumb{
	background-color: white;
	padding: 6px 30px;
	margin: 6px 0 40px 0;
}
.breadcrumb-item > a{
	color: #999999;
}
.breadcrumb-item.active{
	color: #000;
}

.main-content-bank{
	margin-bottom: 28px;
}
.bank-content-title{
	width: 100%;
	max-width: 770px;
	margin: 0 auto;
	box-shadow: 0px 25px 0px -23px rgba(112, 112, 112, 0.75);
	
}
.nav-link,
.nav-tabs{
	border: none !important;
}
.nav-tabs,
.nav-item {
	margin-bottom: 0 !important;
}
.nav-link.active{
	box-shadow: 0px 25px 0px -23px rgba(0,0,0,0.75);
	padding-bottom: 25px;
}
.bank-content-title-left,
.bank-content-title-right{
	font-size: 1.5em;
	color: #273133;
	position: relative;
	padding: 0;
	
}
.bank-content-title-left{
	margin-right: 60px;
}

.bank-content-title-right{
	margin-left: 60px;
}

.bank-content-title-left:hover,
.bank-content-title-right:hover{
	text-decoration: none;
	color: #707070;
}
.bank-content-subtitle{
	width: 100%;
	max-width: 788px;
	margin: 36px auto 60px;
}
.bank-content-description{
	font-size: 1.25em;
	text-align: center;
	color: #273133;
}

/*------Slider---------*/
/*------Arrows---------*/
.next{
	background-image: url(../image/main-pay/arrowr.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30px;
	height: 30px;
	position: absolute;
    top: 25%;
    right: -28px;
}

.prev{
	background-image: url(../image/main-pay/arrowl.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30px;
	height: 30px;
	position: absolute;
    top: 25%;
    left: -28px;
}
.next:hover,
.prev:hover{
	transition: .3s;
	border: 1px solid #707070;
	border-radius: 50%;
	cursor: pointer;
}



.sl-slider{
	outline: none;
	padding: 10px 10px;
	margin: 0 15px;
}
.bank-pb-box-content:focus{
	border: none !important;
}
.bank-box{
	border: 2px solid #707070;
	border-radius: 10px;
	cursor: pointer;
	transition: .3s;
	filter: grayscale(100%);
}
.bank-box:hover{
	box-shadow: 0 0 0 5px rgba(112, 112, 112, 1);
	border: 2px solid rgba(0, 0, 0, 0);
	filter: none;
}
.bank-pb-img{
	padding-top: 44px;
	padding-bottom: 26px;
	text-align: center;
}
.bank-pb-img > a > img,
.bank-pb-pay > a > img,
.bank-pb-instruction > a > img,
.bank-port-img > a > img,
.bank-easy-img > a > img,
.bank-ipay-img > a > img{
	margin: 0 auto;
}

.bank-pb-pay > a > img:hover,
.bank-pb-instruction > a > img:hover,
.bank-port-img > a > img:hover,
.bank-pb-img > a > img:hover,
.bank-easy-img > a > img:hover,
.bank-ipay-img > a > img:hover{
	transition: .3s;
}
.bank-pb-pay > a > img:focus,
.bank-pb-instruction > a > img:focus,
.bank-port-img > a > img:focus,
.bank-pb-img > a > img:focus,
.bank-easy-img > a > img:focus,
.bank-ipay-img > a > img:focus{
	border: none !important;
}
.bank-port-img{
	padding-top: 54px;
	padding-bottom: 21px;
	text-align: center;
}
.bank-easy-img{
	text-align: center;
	padding-top: 16px;
}
.bank-ipay-img{
	padding-top: 33px;
	padding-bottom: 17px;
	text-align: center;
}
.bank-funtion{
	display: flex;
	justify-content: space-around;
	padding-top: 26px;
	padding-bottom: 28px;
}
.bank-pb-pay,
.bank-pb-instruction{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.bank-pb-description{
	margin-top: 35px;
}
.bank-pb-text{
	font-size: 1.125em;
	color: #273133;
	line-height: 1.687em;
}


/*---Offline pay---*/

.requisites{
	margin-top: 20px;
}
.requisites-title{
	color: #273133;
	font-size: 1.25em;
	margin-bottom: 40px;
}
.offpay-first{
	cursor: pointer;
	filter: grayscale(100%);
}
.requisites-first,
.requisites-second,
.requisites-title{
	text-align: center;
}
.requisites-first-content,
.requisites-second-content{
	color: #273133;
	text-align: left;
	margin-top: 25px;
	line-height: 24px;
}

.bank-list{
	margin: 20px auto 0;
	max-width: 640px;
	text-align: center;
}
.bank-list-title{
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.25em;
	color: #273133;
}

.choose {
	max-width: 40;
	margin-right: 20px !important;
}
.choose-discription{
	margin-bottom: 0;
	padding-top: 5px;
	text-align: left;
	padding-left: 25px;
	color: #273133;
	font-size: 1.125em;
}
.offline-list-link{
	padding: 0;
	margin-top: 36px;
	margin-bottom: 11px;
}
.offline-link-title{
	color: #273133;
	font-size: 1.125em;
	padding-left: 10px;
}
.offline-link{
	margin: 0 auto;
	font-size: 1.125em;
}
.offline-content{
	margin-bottom: 35px;
	padding: 0;
}



/*----footer---->*/
.bg-navy{
	background-color: #707070;
	color: #fff;
	font-size: 0.875em;
}
.bg-navy .row{
	margin: 0;
}
.text-white{
	font-size: 1em;
	padding-left: 15px;
	margin-bottom: 30px;
}
.text-white:before{
	content: '';
	display: block;
	margin-bottom: 40px;
	width: 100%;
	max-width: 110px;
	height: 2px;
	background-color: #F7F7F7;

}
.text-white-first{
	margin-right: 9%;
	width: 105px;
	max-width: 239px;
}
.text-white-first:before{
	content: '';
	display: block;
	margin-bottom: 25px;
	width: 100%;
	max-width: 220px;
	height: 2px;
	background-color: #F7F7F7;
}
.logo-ft{
	padding: 10px 10px 10px 0; 
}
.logo-ft-title{
	color: #fff;
	transition: .3s;
}
.logo-ft-title:hover{
	color: #A5A5A5;
	text-decoration: none;
}
.apps-subtitle{
	color: #fff;
	font-size: 0.875em;
}
.apps-subtitle:hover{
	text-decoration: none;
	color: #fff;
}
.apps-nav{
	display: flex;
	align-items: center;
}
.img-yelthun,
.img-ggl{
	margin-right: 6px;
}
.footer-nav > .nav-item > .nav-link{
	color: #fff;
	font-size: 0.875em;
	transition: 0.3s;
}
.footer-nav > .nav-item > .nav-link:hover{
	color: #A5A5A5; 
}
.media-cnt-box{
	max-width: 360px;
}
.media-footer{
	max-width: 110px;
	cursor: pointer;
}
.media-footer > img {
	filter: grayscale(100%);
	transition: 0.7s;
}
.media-footer > img:hover{
	filter: none;	
}

.fa-twitter,
.fa-facebook-f,
.fa-instagram {
	width: 32px;
	height: 32px;
	color: white;
	transition: .3s;
	margin: 0 13px 0 0;
}
.fa-pinterest-p {
	width: 32px;
	height: 32px;
	color: white;
	transition: .3s;
	margin: 0 5px 0 0;
}

.fa-twitter:hover{
	color: #A5A5A5;
}

.fa-facebook-f:hover{
	color: #A5A5A5;
}

.fa-instagram:hover{
	color: #A5A5A5;
}

.fa-pinterest-p:hover{
	color: #A5A5A5;
}

.apps-title{
	margin-bottom: 10px;
}
.img-ggl{
	max-width: 117px;
}

.img-ggl,
.img-yelthun,
.img-stolb{
	filter: grayscale(100%);
	transition: 0.7s
}
.img-ggl:hover,
.img-yelthun:hover,
.img-stolb:hover{
	filter: none;
	transform: scale(1.1);
}

.ft-column-fiveth{
	margin-right: 5%;
}


/*---Main Contacts---*/
.breadcrumb-contacts{
	margin-bottom: 40px;
}
.contacts-title-cnt{
	font-size: 1.5em;
	text-align: center;
}
.contacts-title > p{
	margin: 0;
}
.contacts-title-cnt:after{
	content: '';
	display: block;
	margin: 0 auto;
	border-bottom: 2px solid #707070;
	width: 100%;
	max-width: 250px;
	margin-top: 25px;
}
.contacts-link{
	color: #273133;
}
.contacts-link:hover{
	color: none;
}


.contacts-link.active{
	margin: -2px 0px;
	box-shadow: none;
	border-top: 2px solid #707070 !important;
	border-bottom: 2px solid #707070 !important;
	border-right: none !important;
	border-left: none !important;
	padding-bottom: 0;

}
.contacts-link .nav-link{
	padding-left: 0;
}
.contacts-link > a{
	font-size: 1.25em;
	color: #273133;
}
.nav-contacts{
	width: 100%;
	max-width: 390px;
}
.nav-contacts .nav-item > a:hover{
	color: black;
}
.nav-contacts .nav-item{
	margin: -1px !important;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	}


.address-content{
	padding-left: 0;
	font-size: 1.125em;
	line-height: 2;
}
.tabs-role-contacts{
	margin-top: 45px;
	margin-bottom: 20px;
}
.contact-box{
	margin-bottom: 40px;
}


/*---Main Info Center---*/
.info-map-box{
	padding-left: 30px;
}
.info-center{
	margin-top: 20px;
	max-width: 1243px;
}
.info-center-box{
	margin: 45px 0 0 0;
}
.info-center-content{
	width: 100%;
	margin-top: 20px;
	padding-left: 45px;
	margin-bottom: 15px;
}
.info-center-content-title{
	font-size: 1.25em;
	color: #273133;
	
}
.info-center-content-subtitle{
	margin-top: 10px;
	font-size: 1.125em;
}

/*---Call Canter---*/

.call-center-time{
	font-size: 1.125em;
	line-height: 2;
	color: #000;
}
.call-address-content{

	padding: 0 50px;
}
.call-center-content{
	padding: 25px 50px 0;
}
.call-center-title{
	color: #273133;
	font-size: 1.25em;
}
.contacts-title-cnt{
	color: #273133;
}
.call-center-subtitle,
.call-center-description{
	font-size: 1.125em;
}
.call-center-description li{
	list-style-type: none;
	position: relative;
	margin: 0 20px;
	line-height: 2;
}
.call-center-description li:before{
	content: '-';
	display: block;
	position: absolute;
	left: -18px;
}




/*---FeedBack---*/
.form-feedback{
	position: relative;
	padding: 0 50px;
}
.feedback-comment{
	padding-top: 10px;
	min-height: 184px;
}
.feedback-content-title{
	color: #273133;
	font-size: 1.25em;
	text-align: center;
	margin: 0px 16% 20px;
	
}
.form-comment{
	border-radius: 10px;
	padding: 10px 25px;
}
.feedback-content{
	width: 100%;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="search"]::placeholder,
textarea[type="text"]::placeholder{
	color: #D5D5D5;
}
textarea{
	resize: none;
}
.form-textarea{
	position: relative;
	margin: 0;

}
.form-send-box{
	right: 0;
    position: absolute;
    top: 159px;
}
.fa-angle-right{
	font-size: 20px;
	padding-top: 4px;
	padding-left: 2px;
	width: 30px;
	height: 30px;
	border: 1px solid #707070;
	border-radius: 50%;
	text-align: center;
	align-items: center;
}


/*---Personal-reception---*/
.datepicker{
	top: 420px !important;
}
.form-control-date{
	cursor: pointer;
	background-image: url(../image/calendar.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	margin-right: -5px;
}
.form-date > label{
	padding: 8px 0 0 8px;
}
.form-date-btn-link{
	color: white;
}
.form-date-btn-link:hover{
	color: #B4B4B4;
	text-decoration: none;
}
.form-btn-control{
	padding-left: 5px;
	border-radius: 20px;
	width: 100%;
	max-width: 415px;
	background-color: #707070;
}
.form-box,
.box-cmt{
	border-radius: 20px;
}
.form-control-file{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.date-time-box{
	display: flex;
	justify-content: space-between;
}
.date-cnt-box{
	margin-bottom: 0;
}

/*---Feedback-second*/

.form-group{
	width: 100%;
}
.file-input{
	display: none;
}
.file-feedback{
	float: right;
	border-radius: 20px;
	font-size: 0.875em;
	
	background-color: #707070;
	padding: 10px 30px;
	cursor: pointer;
}
.has-name{
	width: 100%;
}
.is-fullwidth{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.file-label{
	color: #fff;
	margin-top: 8px;
}
.file-name{
	font-style: italic;
	font-size: 0.875em;
}
textarea.form-control{
	min-height: 180px;
}
.form-date-expansion{
	margin-bottom: 5px;
	line-height: 1.1;
	font-size: 0.875em;
}
.form-date .form-group{
	margin-bottom: 0;
}

/*---Form option---*/

.form-option{
	padding: 5px 20px;
	border-radius: 20px;
}
select option[disabled]:first-child{
display: none;
}
textarea.form-box{
	min-height: 300px;
}

select{
	-webkit-appearance: none; 
   	-moz-appearance: none;
   	appearance: none; 
}

.arr{
	background-image: url(../image/arrd.png);
   	background-repeat: no-repeat;
   	background-position: 95% 16px;
   	margin-right: 10px;
   	transition: 0s;

}
.arr:focus{
	background-position: 95% 15px;
}
.file-box{
	margin-bottom: 0;
}



/*---Media screen---*/

@media screen and (max-width: 1550px){
	.container{
		padding: 0 40px;
	}
	.breadcrumb{
		padding-top: 6px;
	}
	.ft-column-fiveth{
		margin-right: 2%;
	}
}
@media screen and (max-width: 1450px){
	.btn-header{
		display: none;
	}
	.icon-profile{
		display: block;
		margin-left: 30px;
	}
	.form-inline{
		max-width: 150px;
	}
	.map{
		max-width: 450px;
	}
	.nav-contacts{
		flex: 0 0 16.666667%;
	}
}
@media screen and (max-width: 1280px){
	.menu > .nav-item > .nav-link{
		padding: 0 5px;
	}
	.map{
		max-width: 410px;
		min-height: 280px;
	}
	.nav-contacts{
		padding-right: 0;
	}
	.offline-box{
	padding: 0;
	}
}
@media screen and (max-width: 1200px){
	.nav-contacts{
		max-width: 275px;
	}
	.address-content{
		font-size: 1em;
		padding: 15px 25px;
		line-height: 1.5;
	}
	.call-center-time{
		padding: 15px 25px;
	}
	.info-center-content{
		margin-left: 25px;
	}
	
}
@media screen and (max-width: 1160px){
	.btn-header{
		width: 100%;
		max-width: 150px;
		font-size: 0.75em;
	}
	.text-white-first{
		margin-right: 2%;
	}
	.navbar-brand{
		font-size: 1em;
	}
}
@media screen and (max-width: 1071px){
	   .icon-profile{
	   	margin-left: 5px;
	   }
	   .form-inline{
	   	max-width: 114px;
	   }
	   .navbar-brand{
	   	margin-right: 10px;
	   	font-size: 0.875em;
	   }
	   .ft-column-fiveth{
	   	margin-left: 5px;
	   }
	   .ft-column-fourth{
	   	margin-right: 5px;
	   }
	   .ft-column-sixth{
	   	max-width: 155px;
	   }
	   .bank-list{
	   	flex: 0 0 41.6666667%;
	   	max-width: 41.6666667%;
	   }
}
@media screen and (max-width: 990px) {
	.container{
		padding: 0 15px;
	}
	.language-choice{
		font-size: 1.5em;
	}
	.menu{
		font-size: 1.5em;
	}
	.search-list-mobile{
		width: 100%;
		max-width: 800px;
		display: block;
	}
	.search-list-mobile > input{
		min-width: 300px;
		padding: 0 5px;
		margin: 0;
	}
	.form-inline{
		max-width: 255px;
		padding: 5px 15px 15px;
		display: block;
	}
	.text-white-first{
		margin-left: 15px;
		margin-right: 82px;
	}
	.btn-header{
		display: block;
		font-size: 1.5em;
		min-width: 300px;
		margin-left: 0;
	}
	.icon-profile{
		display: none;
	}
	.media-cnt-box{
		max-width: 360px;
	}
	.menu > .nav-item > .nav-link{
		padding: 15px;
	}
	.bank-content-title{
		margin-top: 40px;
	}
	.ft-column-second,
	.ft-column-third,
	.ft-column-fourth{
		min-width: 300px;
	}
	.search-box{
		display: none;
	}
	.tabs-role-contacts{
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.address-content{
		padding: 15px 0;
	}
	.map{
		max-width: 980px;
		min-height: 280px;
	}
	.info-center-content{
		padding: 0 30px;
		margin: 10px 0;
	}
	.call-center-description{
		text-align: left;
	}
	.info-center-box{
		flex-direction: column;
	}
	.info-map-box{
		padding-left: 0;
		flex-direction: column;
		align-items: center;
	}
	.nav-contacts{
		max-width: 500px;
		padding-left: 15px;
		margin: 0 auto;
		text-align: center;
	}
	.feedback-content-title{
		margin-top: 20px;
		font-size: 1em;
	}
	.feedback-content{
		margin-top: 20px;
	}
	.form-feedback .row{
		flex-direction: column;
	}
	.date-cnt-box .form-date{
		margin-top: 20px;
	}
	.file-box{
		margin-top: 20px;
	}
	.form-box-sm{
		margin-left: 10px;
	}
	.form-box-theame{
		margin-top: 20px;
	}
	.bank-list{
		max-width: 640px;
	}



@media screen and (max-width: 800px){
	.bank-content-title{
		width: 100%;
		max-width: 540px;
		
	}
	.bank-content-title-left{
		margin: 0 0 5px 0;
	}
	.bank-content-title-right{
		margin: 5px 0 0 0;
	}
	.nav-link.active{
	padding-bottom: 18px;
	}
	.bank-content-title{
		box-shadow: none;
	}
	.bank-content-title-left,
	.bank-content-title-right{
		font-size: 1.25em;
	}
}
@media screen and (max-width: 480px){
	.navbar-brand{
		font-size: 0.75em;
	}
	.text-white-first{
		width: 100%;
		min-width: 250px;
	}
	.bank-content-title-left,
	.bank-content-title-right{
		font-size: 1em;
	}
	.bank-content-description{
		font-size: 1em;
	}
	.bank-pb-text{
		font-size: 1em;
	}
	.bank-content-title{
		max-width: 430px;
	}
	.breadcrumb-item.active,
	.breadcrumb-item > a{
		font-size: 0.75em;
	}
	.form-feedback{
		padding: 0 15px;
	}
	.date-cnt-box .form-date{
		display: block;
		flex-direction: column;
	}
	.info-center-content{
		padding: 0 15px;
	}
	.form-box-sm{
		margin: 0;
	}

}

@media screen and (max-width: 400px){
	.menu{
		font-size: 1em;
	}
	.bank-ipay-img > a > img {
		transform: scale(0.7);
	}
	.bank-pb-img > a > img {
		transform: scale(0.7);
	}
	.bank-pb-pay > a > img{
		transform: scale(0.7);
	}
	.bank-pb-instruction > a > img{
		transform: scale(0.7);
	}
	.bank-port-img > a > img{
		transform: scale(0.7);
	}
	.bank-easy-img > a > img{
		transform: scale(0.7);
	}
	.btn-header,
	.form-control{
		min-width: 250px;
		font-size: 1em;
	}
	.search-list-mobile > input{
		min-width: 250px;
	}
	.language-choice{
		font-size: 1em;
	}
}
@media screen and (max-width: 330px){
	.navbar-brand{
		font-size: 0.675em;
	}
	.bank-port-img > a > img{
		margin-left: -20px;
	}
	.bank-pb-img > a > img {
		margin-left: -16px;
	}
	.bank-easy-img > a > img{
		margin-left: -19px;
	}
	.bank-ipay-img > a > img{
		margin-left: -17px;
	}
	.bank-ipay-img{
		padding: 10px 0;
	}
	.bank-pb-img{
		padding: 10px 0;
	}
	.bank-port-img{
		padding: 10px 0;
	}
	.bank-easy-img{
		padding: 0;
	}
}
